{% import 'appbuilder/general/lib.html' as lib %}

    {% block begin_content scoped %}
        <div class="table-responsive">
        <table class="table table-bordered table-hover">
    {% endblock %}

    {% block begin_loop_header scoped %}
        <thead>
        <tr>
        {% for item in include_columns %}
            {% if item == 'reported_time' %}
                <th style="display:none"></th>
            {% else %}
                <th style="text-align:center;">{{label_columns.get(item)}}</th>
            {% endif %}
        {% endfor %}
        </tr>
        </thead>
    {% endblock %}

    {% block begin_loop_values %}
        {% for item in value_columns %}
            {% set pk = pks[loop.index-1] %}
            <tr>
                {% for value in include_columns %}
                    {% set formatter = formatters_columns.get(value) %}
                    {% if formatter %}
                        <td>{{ formatter(item[value]) | safe }}</td>
                    {% elif value == 'reported_time' %}
                        <td id="reported_time" style="display:none">{{ item[value] }}</td>
                    {% else %}
                        <td>{{ item[value] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}

    {% block end_content scoped %}
        </table>
        </div>
    {% endblock %}

